APP_NAME=SewaAja
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/sewaaja
JWT_SECRET=change-this-to-a-long-random-secret
JWT_TTL_MINUTES=1440

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sewaaja
DB_USERNAME=root
DB_PASSWORD=

API_GATEWAY_URL=http://localhost/sewaaja/backend/api-gateway/public
AUTH_SERVICE_URL=http://localhost/sewaaja/backend/services/auth-service/public
USER_SERVICE_URL=http://localhost/sewaaja/backend/services/user-service/public
PRODUCT_SERVICE_URL=http://localhost/sewaaja/backend/services/product-service/public
BOOKING_SERVICE_URL=http://localhost/sewaaja/backend/services/booking-service/public
PAYMENT_SERVICE_URL=http://localhost/sewaaja/backend/services/payment-service/public

MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=SB-Mid-server-your-sandbox-server-key
MIDTRANS_CLIENT_KEY=SB-Mid-client-your-sandbox-client-key
MIDTRANS_SNAP_SANDBOX_URL=https://app.sandbox.midtrans.com/snap/v1/transactions
MIDTRANS_SNAP_PRODUCTION_URL=https://app.midtrans.com/snap/v1/transactions
MIDTRANS_NOTIFICATION_URL=http://localhost/sewaaja/backend/services/payment-service/public/midtrans/callback
MIDTRANS_FINISH_URL=http://localhost/sewaaja/frontend/public/payment-status.html
